{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5" >
    {% if user.profile.neighbourhood %}
        <div class="text-center">
            <h1>Welcome Back to HoodScreen</h1>
            <h5>See Whats has been Happening in your hood {{user.profile.neighbourhood.name}}</h5>
            <a href="{% url 'single-hood' user.profile.neighbourhood.id %}" class="btn btn-sm btn-info mt-4">Check In</a>
        </div>
    {% else %}
        <div class="text-center">
            <h1>Welcome to HoodScreen</h1>
            <h5>Get Started by joining a hood today to view what's happening around you</h5>
            <a href="{% url 'hoods' %}" class="btn btn-sm btn-info mt-4">Join Hood</a>
        </div>
     {% endif %}
</div>
{% endblock %}